<h1>KILL Bodies DATABASE</h1>

<form action="/signup" method="post">
  <label for="">email</label>
  <input type="email" name="email" value="">

  <label for="">password</label>
  <input type="password" name="password" value="">

  <p><input type="submit" name="" value="Create User"></p>
</form>
