<h1>Welcome to my website</h1>

<% if session[:user_id] %>
  <form class="" action="/logout" method="post">
    <input type="submit" name="" value="Log out">
  </form>
<% else %>
<a href="/login">Login</a>
<a href="/signup">Signup</a>
<% end %>
<%= session[:user_id] %>
